<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages> 

      <httpRuntime targetFramework="4.5" maxRequestLength="2097151" enable="true" executionTimeout="360"/>
 <globalization culture="en-US" uiCulture="en-US" />
          </system.web>
 <connectionStrings>
    <add name="CmsConnectionString" connectionString="Data Source=LENOVO;Initial Catalog=cms; Integrated Security=true" providerName="System.Data.SqlClient"/>
    <!--<add name="dbString" connectionString="Data Source=DESKTOP;Initial Catalog=ESEERP;User ID=sa;pwd=Satya@2129" providerName="System.Data.SqlClient" />-->
   <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
   <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  </connectionStrings>
      
    
   
  
</configuration>
